:root{
    --WhiteColor: hsl(0, 0%, 100%);
    --Lightgray: hsl(212, 45%, 89%);
    --Grayishblue: hsl(220, 15%, 55%);
    --Darkblue:  hsl(218, 44%, 22%);
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html , body{
    height: 100%;
}

body{
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    background-color: var(--Lightgray);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,h2,h3,h4,h5,h5{
    font-weight: 700;
    margin-bottom: 15px;
}

p{
    font-weight: 400;
    margin-bottom: 15px;
}

img{
    max-width: 100%;
    height: auto;
}

.card{
    background-color: var(--WhiteColor);
    padding: 15px;
    border-radius: 15px;
    width: 320px;
}

.card img{
    border-radius: 10px;
    /* margin-bottom: 20px; */
}

.card-body{
    padding: 20px 15px;
    text-align: center;
}
.card-body h4{
    color: var(--Darkblue);
    font-size: 21px;
}
.card-body p{
    color: var(--Grayishblue);
    font-size: 15px;
}